
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 120%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #729bca;
}

nav {
    background-color: #729bca;
    border-radius: 15px;
}

footer {
    background-color: #729bca;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
.logo-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

section {
    border-radius: 15px;
    background-color: #c9e1fd;
}

img {
    max-width: 100%;
    height: auto;
}

.map-wrapper {
    width: 100%;
    overflow-x: auto;
}

.map-wrapper img {
    max-width: none;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

table,
th,
td {
    border: 1px solid #000;
}

th,
td {
    padding: 8px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #ea7474;
}

tbody tr:nth-child(odd) {
    background-color: #729856;
}

input,
select,
textarea {
    max-width: 100%;
}

textarea {
    width: 300px;
    height: 100px;
}

.nav-block {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .header-area {
        background-color: #729bca;
    }

    header {
        background-color: transparent;
    }

    nav {
        background-color: transparent;
        border-radius: 0;
    }
}


